@using FinalProjectFb.Domain.Entities
@model List<Job>

<div id="content-page" class="content-page">
    <div class="container">
       
            @if (Model.Any())
            {
                @foreach (var item in Model)
             
                {
                    <div class="single-job-items mb-30">

                        <div class="job-items">
                            <div class="company-img">
                                <a asp-action="detail" asp-controller="job" asp-route-id="@item.Id"><img style="height:80px;width:80px" src="~/assets/img/icon/@item.Images.FirstOrDefault()?.Url" alt=""></a>
                            </div>
                            <div class="job-tittle">
                                <a asp-action="detail" asp-controller="job" asp-route-id="@item.Id"><h4>@item.Name</h4></a>
                                <ul>
                                    <li>@item.Category.Name</li>
                                    <li><i class="fas fa-map-marker-alt"></i>@item.Company.CompanyCities.FirstOrDefault(c => c.City.Id == c.CityId)?.City.Name</li>
                                    <li>$@item.Salary</li>
                                </ul>
                            </div>
                        </div>
                        <div class="items-link f-right">
                            <a asp-action="detail" asp-controller="job" asp-route-id="@item.Id">@item.JobNature</a>
                            <span>
                                @{
                                    TimeSpan difference = DateTime.Now - item.CreatedAt;

                                    string timedifference = "";
                                    if (difference.TotalDays >= 1)
                                    {
                                        timedifference = $"{(int)difference.TotalDays} days ago";
                                    }
                                    else if (difference.TotalHours >= 1)
                                    {
                                        timedifference = $"{(int)difference.TotalHours} hours ago";
                                    }
                                    else
                                    {
                                        timedifference = $"{(int)difference.TotalMinutes} minutes ago";
                                    }
                                }

                                @timedifference
                            </span>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="iq-header-title">
                    <h4 class="card-title">No results found.</h4>
                </div>
            }
            
        
    </div>
</div>
